final_flows.json
[
    {
        "id": "c2e1795bd165c127",
        "type": "tab",
        "label": "플로우 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7f6d860166516da5",
        "type": "mqtt in",
        "z": "c2e1795bd165c127",
        "name": "센서데이터수신",
        "topic": "webESpms",
        "qos": "1",
        "datatype": "auto",
        "broker": "7338d647ed3ca257",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "fcfa24c155f4fd48",
                "e4cbd6076d3b22bf"
            ]
        ]
    },
    {
        "id": "e4cbd6076d3b22bf",
        "type": "json",
        "z": "c2e1795bd165c127",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "341e2ba8f5850b63",
                "037c7ef3e6aac98e"
            ]
        ]
    },
    {
        "id": "2a39ef348c1bb0cf",
        "type": "ui_chart",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "55e66447f040155a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "습도변화",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0dc911ecd60ac787",
        "type": "ui_switch",
        "z": "c2e1795bd165c127",
        "name": "섭씨/화씨 전환",
        "label": "섭씨/화씨 전환",
        "tooltip": "섭씨와 화씨 단위를 바꿉니다",
        "group": "3534bb6793ce51c5",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 840,
        "y": 160,
        "wires": [
            [
                "66ea7190a9cf8f2d",
                "7da3872ad2d0c2de"
            ]
        ]
    },
    {
        "id": "66ea7190a9cf8f2d",
        "type": "function",
        "z": "c2e1795bd165c127",
        "name": "전환",
        "func": "if (msg.payload === true){\n    msg.ui_control = {\"min\":0, \"seg1\":20, \"seg2\":35, \"max\":50 };\n    msg.payload = msg.topic+\"℃\";\n}else if(msg.payload === false){\n    msg.ui_control =  {\"min\" :33.8, \"seg1\":70, \"seg2\":100, \"max\":122 };\n    msg.payload = ((msg.topic* (9/5) +32).toFixed(2))+\"℉\";\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "086526cb850de345"
            ]
        ]
    },
    {
        "id": "086526cb850de345",
        "type": "ui_gauge",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "3534bb6793ce51c5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "온도",
        "label": "temp",
        "format": "{{msg.payload}}",
        "min": "33.8",
        "max": "122",
        "colors": [
            "#05eeff",
            "#00e60f",
            "#d10a0a"
        ],
        "seg1": "70",
        "seg2": "100",
        "className": "",
        "x": 1210,
        "y": 60,
        "wires": []
    },
    {
        "id": "402562c8503d546b",
        "type": "ui_gauge",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "3534bb6793ce51c5",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "습도",
        "label": "humidity",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "className": "",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "45e527441983d0ca",
        "type": "function",
        "z": "c2e1795bd165c127",
        "name": "topic = payload",
        "func": "msg.topic = msg.payload;\nmsg.payload = true;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 220,
        "wires": [
            [
                "0dc911ecd60ac787"
            ]
        ]
    },
    {
        "id": "fcfa24c155f4fd48",
        "type": "debug",
        "z": "c2e1795bd165c127",
        "name": "jsonmqtt",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "341e2ba8f5850b63",
        "type": "debug",
        "z": "c2e1795bd165c127",
        "name": "json-to-object",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 400,
        "wires": []
    },
    {
        "id": "037c7ef3e6aac98e",
        "type": "function",
        "z": "c2e1795bd165c127",
        "name": "값분리",
        "func": "var temp_c; \nif(msg.payload.DHT_temp>100)\n{\n    temp_c = {payload:undefined};\n}else{\n    temp_c = {payload:msg.payload.DHT_temp};\n}\nvar humidity = { payload:msg.payload.DHT_humidity };\nvar pms1 = { payload:msg.payload.PMS_data1 };\nvar pms2= { payload:msg.payload.PMS_data2 };\nreturn [ temp_c, humidity, pms1, pms2 ];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 320,
        "wires": [
            [
                "45e527441983d0ca",
                "cd1ceacd64bfbbe2"
            ],
            [
                "2a39ef348c1bb0cf",
                "402562c8503d546b"
            ],
            [
                "e6f446a53b0253fc",
                "d89352229ab0faf3"
            ],
            [
                "3df9f5bf5017e6ac",
                "24da7590cb0a7e4d"
            ]
        ]
    },
    {
        "id": "7da3872ad2d0c2de",
        "type": "debug",
        "z": "c2e1795bd165c127",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 80,
        "wires": []
    },
    {
        "id": "e6f446a53b0253fc",
        "type": "ui_gauge",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "cb697cd915f64dc7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pm2.5",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "50",
        "className": "",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "d89352229ab0faf3",
        "type": "ui_chart",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "0cc258b145d84d51",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "pm2.5 chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "24da7590cb0a7e4d",
        "type": "ui_chart",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "0cc258b145d84d51",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "pm10 chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1130,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3df9f5bf5017e6ac",
        "type": "ui_gauge",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "cb697cd915f64dc7",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pm10",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "50",
        "className": "",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "198b69bdf3d5c19f",
        "type": "http request",
        "z": "c2e1795bd165c127",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "credentials": {},
        "x": 370,
        "y": 480,
        "wires": [
            [
                "3b6a29422459bde5",
                "c0dd1a7b054a7047"
            ]
        ]
    },
    {
        "id": "58f2a45eba037622",
        "type": "inject",
        "z": "c2e1795bd165c127",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "nowtime",
                "v": "",
                "vt": "date"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "13addcfb46d96980",
                "d2ec3adcc51224ac",
                "5a6897c298c3e360"
            ]
        ]
    },
    {
        "id": "3b6a29422459bde5",
        "type": "debug",
        "z": "c2e1795bd165c127",
        "name": "api 정보",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 420,
        "wires": []
    },
    {
        "id": "8faf75cf4af5b839",
        "type": "ui_list",
        "z": "c2e1795bd165c127",
        "group": "fe9d96084589967f",
        "name": "지역선택",
        "order": 1,
        "width": 3,
        "height": 7,
        "lineType": "two",
        "actionType": "click",
        "allowHTML": false,
        "outputs": 1,
        "topic": "stationNameList",
        "x": 800,
        "y": 460,
        "wires": [
            [
                "a00e4d803ad4213a"
            ]
        ]
    },
    {
        "id": "c4adb51260e4c374",
        "type": "ui_gauge",
        "z": "c2e1795bd165c127",
        "name": "외부pm25",
        "group": "fe9d96084589967f",
        "order": 3,
        "width": 12,
        "height": 4,
        "gtype": "gage",
        "title": "pm2.5",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "className": "",
        "x": 1180,
        "y": 580,
        "wires": []
    },
    {
        "id": "9d719161e01ca02a",
        "type": "ui_gauge",
        "z": "c2e1795bd165c127",
        "name": "외부pm10",
        "group": "fe9d96084589967f",
        "order": 4,
        "width": 12,
        "height": 4,
        "gtype": "gage",
        "title": "pm10",
        "label": "ug/m3",
        "format": "{{value}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "60",
        "className": "",
        "x": 1180,
        "y": 540,
        "wires": []
    },
    {
        "id": "8c306f43e32c69db",
        "type": "function",
        "z": "c2e1795bd165c127",
        "name": "지역값설정",
        "func": "if(typeof msg.payload !== 'undefined' && typeof flow.get('station') !== 'undefined'){\n    flow.set('station', msg.payload);\n}else{\n    flow.set('station', \"성동구\");\n}\n",
        "outputs": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "13addcfb46d96980",
        "type": "ui_text_input",
        "z": "c2e1795bd165c127",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "fe9d96084589967f",
        "order": 12,
        "width": 12,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "textinput",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "8c306f43e32c69db"
            ]
        ]
    },
    {
        "id": "d2ec3adcc51224ac",
        "type": "ui_text",
        "z": "c2e1795bd165c127",
        "group": "fe9d96084589967f",
        "order": 10,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "",
        "format": "지역을 입력하거나 선택하세요",
        "layout": "col-center",
        "className": "",
        "x": 310,
        "y": 600,
        "wires": []
    },
    {
        "id": "a00e4d803ad4213a",
        "type": "change",
        "z": "c2e1795bd165c127",
        "name": "지역값설정",
        "rules": [
            {
                "t": "set",
                "p": "station",
                "pt": "flow",
                "to": "payload.title",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 480,
        "wires": [
            [
                "6dec9ab37b5ad9f9"
            ]
        ]
    },
    {
        "id": "f5a9c3f9fac2a089",
        "type": "function",
        "z": "c2e1795bd165c127",
        "name": "",
        "func": "var localName;\nvar msg1 ={};\nvar msg2 ={};\nvar msg3 ={};\nvar msg4 ={};\nlocalName = flow.get('station');\nvar num = msg.payload.findIndex(a => a.station === localName);\nnode.log(num);\nif(num >=0)\n{\n    msg1.payload = msg.payload[num].station;\n    msg2.payload = msg.payload[num].pm10;\n    msg3.payload = msg.payload[num].pm25;\n    msg4.payload = msg.payload[num].date;\n} else\n{\n    node.log(\"문제확인\");\n}\nreturn [msg1, msg2, msg3, msg4];",
        "outputs": 4,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 580,
        "wires": [
            [
                "75ab52d3df8d9270"
            ],
            [
                "9d719161e01ca02a"
            ],
            [
                "c4adb51260e4c374"
            ],
            [
                "360a1ac641c5a16f"
            ]
        ]
    },
    {
        "id": "75ab52d3df8d9270",
        "type": "ui_text",
        "z": "c2e1795bd165c127",
        "group": "fe9d96084589967f",
        "order": 2,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "서울",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1170,
        "y": 500,
        "wires": []
    },
    {
        "id": "360a1ac641c5a16f",
        "type": "ui_text",
        "z": "c2e1795bd165c127",
        "group": "fe9d96084589967f",
        "order": 8,
        "width": 12,
        "height": 1,
        "name": "",
        "label": "측정시간:",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1190,
        "y": 640,
        "wires": []
    },
    {
        "id": "6dec9ab37b5ad9f9",
        "type": "debug",
        "z": "c2e1795bd165c127",
        "name": "지역값",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 460,
        "wires": []
    },
    {
        "id": "c0dd1a7b054a7047",
        "type": "function",
        "z": "c2e1795bd165c127",
        "name": "지역분리",
        "func": "\nif(msg.payload.statusCode == 200)\n{\n    node.log(\"미세먼지API 호출성공\");\n}else {\n\n}\n\nvar NewMsg ={};\nvar NewMsg2 ={};\nvar target = msg.payload.response.body.items;\n//var size = msg.payload.response.body.totalCount;\n\nlet data =[];\nlet station=[];\n\nfor (var i in target)\n{\n    data[i] = { 'station' : target[i].stationName, 'pm10' : target[i].pm10Value, 'pm25' : target[i].pm25Value, 'date' :target[i].dataTime};\n    station[i] = target[i].stationName;\n}\nNewMsg.payload = station;\nNewMsg2.payload = data;\nreturn [NewMsg, NewMsg2];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 480,
        "wires": [
            [
                "8faf75cf4af5b839"
            ],
            [
                "f5a9c3f9fac2a089",
                "77066669c5f02b93"
            ]
        ]
    },
    {
        "id": "cd1ceacd64bfbbe2",
        "type": "ui_chart",
        "z": "c2e1795bd165c127",
        "name": "",
        "group": "55e66447f040155a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "온도 변화",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 960,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "77066669c5f02b93",
        "type": "trigger",
        "z": "c2e1795bd165c127",
        "name": "데이터유지",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-1",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 790,
        "y": 620,
        "wires": [
            [
                "f5a9c3f9fac2a089"
            ]
        ]
    },
    {
        "id": "5a6897c298c3e360",
        "type": "delay",
        "z": "c2e1795bd165c127",
        "name": "10분마다 api요청",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "10",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 170,
        "y": 480,
        "wires": [
            [
                "198b69bdf3d5c19f"
            ]
        ]
    },
    {
        "id": "f264352615e939c1",
        "type": "ui_spacer",
        "z": "c2e1795bd165c127",
        "name": "spacer",
        "group": "fe9d96084589967f",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "ebfbf65a3de2d588",
        "type": "ui_spacer",
        "z": "c2e1795bd165c127",
        "name": "spacer",
        "group": "fe9d96084589967f",
        "order": 6,
        "width": 3,
        "height": 1
    },
    {
        "id": "b39b4a936b52cacf",
        "type": "ui_spacer",
        "z": "c2e1795bd165c127",
        "name": "spacer",
        "group": "fe9d96084589967f",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "43916a061e02bc88",
        "type": "ui_spacer",
        "z": "c2e1795bd165c127",
        "name": "spacer",
        "group": "fe9d96084589967f",
        "order": 9,
        "width": 3,
        "height": 1
    },
    {
        "id": "0f420bc69d898502",
        "type": "ui_spacer",
        "z": "c2e1795bd165c127",
        "name": "spacer",
        "group": "fe9d96084589967f",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "7338d647ed3ca257",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.35.185",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "55e66447f040155a",
        "type": "ui_group",
        "name": "차트",
        "tab": "c71a699ee2141285",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3534bb6793ce51c5",
        "type": "ui_group",
        "name": "온도/ 습도",
        "tab": "0584a4136a2a1f7f",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb697cd915f64dc7",
        "type": "ui_group",
        "name": "미세먼지",
        "tab": "ebff444d639cd023",
        "order": 1,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cc258b145d84d51",
        "type": "ui_group",
        "name": "미세먼지 차트",
        "tab": "c71a699ee2141285",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe9d96084589967f",
        "type": "ui_group",
        "name": "서울미세먼지",
        "tab": "ebff444d639cd023",
        "order": 2,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c71a699ee2141285",
        "type": "ui_tab",
        "name": "데이터차트",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0584a4136a2a1f7f",
        "type": "ui_tab",
        "name": "온습도",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ebff444d639cd023",
        "type": "ui_tab",
        "name": "미세먼지",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]